.search-form {
    display: flex;
    align-items: center;

    margin-bottom: 20%;

    min-height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 40px;
}

.select {
    position: relative;
    height: 80px;
    width: 25%;
    min-width: 170px;
    background: #fff;
}

.select-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border: solid 1px #c7ccd1;
    
    cursor: pointer;   
}

.select-title::before,
.select-title::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 15px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-3px, -50%) rotate(45deg);

    z-index: 1;
}
.select-title::after {
    transform: translate(3px, -50%) rotate(-45deg);
}

.select-title,
.select-title::after:hover,
.select-title::before:hover {
    color:#FE803C;    
}

.select-breed {
    border-radius: 40px 0 0 40px;
}


.select-content {
    position: absolute;
    top: 80px;
    left: 3px;

    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);

    background-color: #ffffff;

    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
    transition: all 0.3s ease-out;

    opacity: 0;
}

.select-input {
    display: none;
}

.select-input,
.select-label {
    padding-top: 27px;
    text-align: center;
    min-height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.select-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    max-height: 0;
    padding: 0 10%;
    
    transition: all 0.2s ease-out;
  
    cursor: pointer;
    
    overflow: hidden;
}

.select-label:hover {
    color: #FE803C;
}

.search-btn {
    height: 100%;
    width: 25%;

    font-size: 18px;

    border-radius: 0 40px 40px 0;
}

@media (max-width: 1140px) {
    .select-title::before,
    .select-title::after {
        right: 5px;
    }
}

@media (max-width: 768px) {
    
    .search-form {
        flex-direction: column;
        min-height: 200px;
        border-radius: 20px;
    }
    .select {
        width: 100%;
        height: 25%;
        border: none;
    }
    
    .select-breed {
        border-radius: 20px 20px 0 0;
    }

    .search-btn {
        width: 100%;
        height: 25%;
        border-radius: 0 0 20px 20px;
    }

    .select-content {
        top: 40px;
    }

    .select-title::before,
    .select-title::after {
        right: 20px;
    }

    .select-input,
    .select-label {
        min-height: 40px;
    }   
}